<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>View Product</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>View Product</h1>
        <form action="/pro/Back" method="post" th:object="${pmodel}">
            <div class="form-group">
                <label for="name">Product Name:</label>
                <input type="text" id="name" name="name" th:field="*{name}" class="form-control" readonly>
            </div>
            <div class="form-group">
                <label for="category">Category:</label>
                <input type="text" id="category" name="category" th:field="*{category}" class="form-control" readonly>
            </div>
            <div class="form-group">
                <label for="description">Description:</label>
                <textarea id="description" name="description" rows="4" th:field="*{description}" class="form-control" readonly></textarea>
            </div>
            <div class="form-group">
                <label for="price">Price:</label>
                <input type="number" id="price" name="price" step="0.01" th:field="*{price}" class="form-control" readonly>
            </div>
            <div class="form-group">
                <label for="oldPrice">Old Price:</label>
                <input type="number" id="oldPrice" name="oldPrice" step="0.01" th:field="*{oldPrice}" class="form-control" readonly>
            </div>
            <div class="form-group">
                <label for="image">Current Image:</label>
                <!-- Display current image if it exists -->
                <div th:if="*{imageUrl}">
                    <img th:src="@{${pmodel.imageUrl}}" alt="Current Image" style="width: 100px; height: auto;">
                </div>
            </div>
            <br>
            <input type="hidden" name="id" th:field="*{id}">
            <input type="submit" value="Back" class="btn btn-success">

        </form>
        <p th:text="${message}"></p>
    </div>
</body>
</html>
